@charset "utf-8";

/* ============================================================
    [1] 웹 폰트
============================================================ */
@font-face {
    font-family: 'Pretendard-Light';
    font-display: swap;
    src: url('/fonts/Pretendard-Light.woff'),
         url('/fonts/Pretendard-Light.woff2');
}

@font-face {
    font-family: 'Pretendard-Regular';
    font-display: swap;
    src: url('/fonts/Pretendard-Regular.woff'),
         url('/fonts/Pretendard-Regular.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    font-display: swap;
    src: url('/fonts/Pretendard-Medium.woff'),
         url('/fonts/Pretendard-Medium.woff2');
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    font-display: swap;
    src: url('/fonts/Pretendard-ExtraBold.woff'),
         url('/fonts/Pretendard-ExtraBold.woff2');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-display: swap;
    src: url('/fonts/Montserrat-ExtraBold.woff'),
         url('/fonts/Montserrat-ExtraBold.woff2');
}

@font-face {
    font-family: 'FugazOne-Regular';
    font-display: swap;
    src: url('/fonts/FugazOne-Regular.woff'),
         url('/fonts/FugazOne-Regular.woff2');
}



/* ============================================================
    [2] 사용자 정의 CSS 속성
============================================================ */
:root {
    /** 색상 */
    --primary: #434CE6;
    --secondary: #D1D3FA;
    --accent: #3583F8;
    --success: #76C398;
    --warning: #FBCA77;
    --danger: #EE585B;
    --light: #F8F8F9;
    --dark: #484757;

    --white: #FFFFFF;
    --gray-10: #F8F9FA;
    --gray-20: #E9ECEF;
    --gray-30: #DEE2E6;
    --gray-40: #CED4DA;
    --gray-50: #ADB5BD;
    --gray-60: #6C6B7E;
    --gray-70: #495057;
    --gray-80: #343A40;
    --gray-90: #212529;
    --black: #0A0C0D;


    /** 간격 */
    --space-unit: 16px;

    /* 간격 크기 : 0px → 4px → 8px → 12px → 24px → 28px → 32px → 36px → 40px */
    --space-none: calc(var(--space-unit) * 0);
    --space-xxs: calc(var(--space-unit) * 0.25);
    --space-xs: calc(var(--space-unit) * 0.5);

    --space-sm: calc(var(--space-unit) * 0.75);
    --space-md: calc(var(--space-unit) * 1.5);
    --space-lg: calc(var(--space-unit) * 1.75);

    --space-xl: calc(var(--space-unit) * 2);
    --space-xxl: calc(var(--space-unit) * 2.25);
    --space-xxxl: calc(var(--space-unit) * 2.5);


    /** 타이포그래피 */
    --font-branding: 'FugazOne-Regular', sans-serif;
    --font-light: 'Pretendard-Light', sans-serif;
    --font-regular: 'Pretendard-Regular', sans-serif;
    --font-medium: 'Pretendard-Medium', sans-serif;
    --font-heading-primary: 'Pretendard-ExtraBold', sans-serif;
    --font-heading-secondary: 'Montserrat-ExtraBold', sans-serif;

    /* 텍스트 크기 : 12px → 18px → 26px → 34px */
    --text-base: 13px;

    --text-sm: calc(var(--text-base) - 1px);
    --text-md: calc(var(--text-base) + 5px);
    --text-lg: calc(var(--text-base) + 13px);
    --text-xl: calc(var(--text-base) + 21px); 

    /** 아이콘 */
    --icon-base: 12px;
    --icon-scale: 4px;

    --icon-md: calc(var(--text-sm) + var(--icon-scale));
    --icon-lg: calc(var(--text-md) + var(--icon-scale));
    --icon-xl: calc(var(--text-lg) + var(--icon-scale));


    /** 이미지 */
    --img-unit: 20px;
    --img-scale: 2;

    --img-xs: calc(var(--img-unit) * var(--img-scale));
    --img-sm: calc(var(--img-xs) * var(--img-scale));
    --img-md: calc(var(--img-sm) * var(--img-scale));
    --img-lg: calc(var(--img-md) * var(--img-scale));
    --img-xl: calc(var(--img-lg) * var(--img-scale));


    /** 테두리 */
    --border-width-base: 1px;
    --border-width-bold: 2px;
    --border-width-strong: 3px;

    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 6px;
    --border-radius-full: 9999px;


    /** 투명도 */
    --opacity-weak: 0.3;
    --opacity-strong: 0.7;


    /** 그림자 */
    --box-shadow-base: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --box-shadow-sm: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --box-shadow-md: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --box-shadow-lg: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



/* ============================================================
    [3] 웹 브라우저 기본 스타일 초기화
============================================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, 
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, 
dl, dt, dd, table, th, td, form, fieldset, 
legend, input, textarea, select, button, 
code, label, em, span, strong {
    word-break: keep-all;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, fieldset {
    border: 0;
    background: none;
}

legend {
    position: absolute;
    left: -9999px;
    overflow: hidden;
    font-size: 0;
}

a {
    text-decoration: none;
}

input, select, button {
    box-sizing: border-box;
    outline: none;
    border: 0;
    background: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

button {
    text-align: center;
    cursor: pointer;
}