@charset "UTF-8";

/* ######################################################################
    # 웹 글꼴
###################################################################### */
@font-face {
    font-family: 'Pretendard-Light';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Light.woff'),
         url('/fonts/pretendard/Pretendard-Light.woff2');
}

@font-face {
    font-family: 'Pretendard-Regular';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Regular.woff'),
         url('/fonts/pretendard/Pretendard-Regular.woff2');
}

@font-face {
    font-family: 'Pretendard-Medium';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-Medium.woff'),
         url('/fonts/pretendard/Pretendard-Medium.woff2');
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    font-display: swap;
    src: url('/fonts/pretendard/Pretendard-ExtraBold.woff'),
         url('/fonts/pretendard/Pretendard-ExtraBold.woff2');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-display: swap;
    src: url('/fonts/montserrat/Montserrat-ExtraBold.woff'),
         url('/fonts/montserrat/Montserrat-ExtraBold.woff2');
}

@font-face {
    font-family: 'Lobster-Regular';
    font-display: swap;
    src: url('/fonts/lobster/Lobster-Regular.woff'),
         url('/fonts/lobster/Lobster-Regular.woff2');
}


/* ######################################################################
    # 초기화 코드
###################################################################### */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, 
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, 
dl, dt, dd, table, th, td, form, fieldset, 
legend, input, textarea, select, button, 
code, label, em, span, strong {
    word-break: keep-all;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, fieldset {
    border: 0;
    background: none;
}

img {
    display: block;
    position: relative;
}

legend {
    position: absolute;
    left: -9999px;
    overflow: hidden;
    font-size: 0;
}

a {
    text-decoration: none;
}

a[role='link']:hover {
    text-decoration: underline;
}

form[role='form'] {
    line-height: 1;
}

input, select, button {
    outline: none;
    border: 0;
    background: none;
    appearance: none;
}

button {
    position: relative;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}