@charset "utf-8";

/* ============================================================
    [1] 컴포넌트 관련 CSS 변수
============================================================ */
:root {
    /** 컴포넌트 : 색상 */
    --component-background: var(--white);
    --component-border-color: var(--gray-30);

    /** 컴포넌트 : 폰트 */
    --component-heading-primary: var(--font-heading-primary);
    --component-heading-secondary: var(--font-heading-secondary);

    --component-field-height: 36px;
    --component-field-padding: var(--space-xs);
    
    /** 테두리 */
    --rounded-field: var(--border-radius-sm);
    --rounded-component: var(--border-radius-md);
    --rounded-pill: var(--border-radius-full);

    /** 패널 */
    --panel-v-padding: var(--space-xl);
    --panel-h-padding: var(--space-lg);
}


/* ============================================================
    [2] 아이콘
============================================================ */
.icon {
    font-size: var(--icon-md);
}



/* ============================================================
    [3] 패널
============================================================ */
.panel-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md) var(--space-none);
    width: 100%;
    
}


.panel, .panel-header, .panel-body {
    width: 100%;
    position: relative;
}

.panel {
    padding: var(--panel-v-padding) var(--panel-h-padding);
    border-radius: var(--rounded-component);
    border: var(--border-width-base) solid var(--component-border-color);
    background-color: var(--white);
}

.panel-header {
    margin-bottom: var(--space-md);
}



/* ============================================================
    [4] 패널
============================================================ */




