<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Puttly</title>
    <!-- 공통 스타일 시트 -->
    <th:block th:replace="~{common/layout/fragment/headLib :: headLib}"/>
</head>
<body>
    <div id="webpage">
        <div id="container" class="flex-v is-center-all">
            <div class="contents">
                <!-- 메인 컨텐츠 -->
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>
        <!-- 공통 푸터 -->
        <th:block th:replace="~{common/layout/fragment/footer :: footer}"/>
    </div>
    <!-- 공통 자바스크립트 -->
    <script src="/js/common/libs/jquery-3.7.1.min.js"></script>
    <!-- 페이지별 자바스크립트 -->
    <th:block layout:fragment="script"></th:block>
</body>
</html>