<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headLib">
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- CSS 라이브러리 -->
    <link rel="stylesheet" href="/css/common/libs/fontello/css/fontello.css">
    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/css/common/content.css">
    <link rel="stylesheet" href="/css/common/component.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/css/common/utils.css">
</th:block>